.container{
    /* display: flex;
    align-items: center;
    justify-content: center;
    align-content: center; */
    width: 400px;
    height: 400px;
    border: 2px solid black;
}


.box1{
    width: 100px;
    height: 100px;
    background-color: brown;
    animation: call 5s linear 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@keyframes call{
    /* 0%{transform: translate(10px,10px);}
    50%{transform: translate(150px,350px);}
    100%{transform: translate(400px,10px);} */
    0%{transform: translate(0px,100px);}
    30%{transform: translate(200px,250px);}
    70%{transform: translate(10px,10px);}
    100%{transform: translate(10px,10px);}


}