.rgb > h4{
  background-color: rgb(236, 216, 238);
}

.hex >h3{
  color: #7091ee;
}

.head{
    text-align: center;
}  
.one{
  font-size: 2em;
}
.two{
  font-size: 2rem;
}
#weight{
  font-weight: bolder;
}

.align{
  text-align: justify;
}
.dec{
  text-decoration:overline;
}
.tran{
  text-transform: lowercase;
}
.sha:hover{
  text-shadow: -8px -5px 5px rgb(107, 105, 105);
}