<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            background-color: lightblue;
            border-radius: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    {% comment %} <h1>Welcome To UI</h1>
    <h2>{{title|upper}}</h2>
    <h2>{{title|lower}}</h2>
    <h3>{{title|length}}</h3> {% endcomment %}
    <h1> hello </h1>
    {% block content %}
    {% endblock %}

    
</body>
</html>